{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}


<div class="alert alert-danger" style="font-size: 30px;">
 <center><img alt="" src="https://www.chronosly.com/wp-content/uploads/2014/07/chronosly-warning-logo-lq.png"></center>
 <br>
 <center>
  <strong>WARNING !</strong> ACCED DENIED CONTACT YOUT ADMINISTRATOR
  </center>
</div>

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
